@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!-- 404 -->
<section class="section-notfound404">
    <div class="page404 | flex flex-col justify-center items-center h-full py-32 lg:py-48 text-center">
        <h1 class="page404-title text-3xl lg:text-6xl lg:leading-tight font-bold">ACCESS DENIED</h1>
        <p class="text-2xl lg:text-5xl lg:leading-tight font-light mb-8">You do not have permission to access this page!</p>
        <a href="@Url.Action("Index", "Home")" class="text-xl mt-2 text-blue-400">Go back to Home</a>
    </div>
</section>

