@model List<FloralHaven.Models.CATEGORY>
@{
    ViewBag.Title = "Products";
}
@section styles{
    <link href="~/css/products.css" rel="stylesheet" />
    <link href="~/css/breadcrumb.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Collections.css" />
    <style>
        .hero-header {
            margin-bottom: 0 !important;
        }
    </style>
}
@section scripts{
    <script src="~/js/lazyload.min.js"></script>
    <script src="~/js/lazyload.js"></script>
    <script src="~/js/products.js"></script>
}

<section class="bread-crumb">
    <div class="container">
        <ul class="breadcrumb">
            <li class="home">
                @Html.ActionLink("Trang chủ", "Index", "Home", null, new { title = "Trang chủ" })
                <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
            </li>
            <li><strong><span>Tất cả danh mục</span></strong></li>
        </ul>
    </div>
</section>
<!-- Categories -->
<section class="section-collection | pb-10 lg:pb-[60px]">
    <div class="container-fluid">
        <div class="section__header text-center page-header">
            <h1 class="section__heading">Tất cả danh mục</h1>
        </div>
        <div class="collection-layout">
            <div class="grid collections-grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                @foreach (var item in Model)
                {
                    <div class="collections-column">
                        <div class="collection-card card--hover-scaling-up">
                            <div class="collection-card__inner">
                                <a href="/Category/@item.id"
                                   class="collection-card__image block overflow-hidden w-full p-4 border">
                                    <div class="card__image" style="--aspect-ratio: 1">
                                        <img src="~/Imgs/placeholder.png" alt="@item.name" width="338" height="338" sizes="338px" class="w-full img-loaded" />
                                    </div>
                                </a>
                                <div class="collection-card__info md:mt-5 mt-2.5 text-center">
                                    <h3>
                                        <a href="/Category/@item.id"
                                           class="text-lg md:text-xl font-bold block">@item.name</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
