
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "List";
}

@section vendorscss{
    <link rel="stylesheet" href="~/adminassets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/adminassets/vendor/libs/select2/select2.css" />
}

@section vendors{
    <script src="~/adminassets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/adminassets/vendor/libs/select2/select2.js"></script>
}

@section scripts{
    <script src="~/adminassets/js/product-list.js"></script>
}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Product List Table -->
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Product List</h5>
            @*<div class="d-flex justify-content-between align-items-center row pt-4 gap-6 gap-md-0">
                    <div class="col-md-4 product_status"></div>
                    <div class="col-md-4 product_category"></div>
                    <div class="col-md-4 product_stock"></div>
                </div>*@
            <p class="text-success">
                @ViewBag.Message
            </p>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-products table">
                <thead class="border-top">
                    <tr>
                        <th></th>
                        <th>product</th>
                        <th>category</th>
                        <th>in stock</th>
                        <th>sku</th>
                        <th>price</th>
                        <th>sale price</th>
                        <th>actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
