@section styles{
    <style>
        .hero-header {
            margin-bottom: 0 !important;
        }

        a.button-75.btn {
            width: fit-content;
            margin: auto;
        }
        .hero-header {
            margin-bottom: 0 !important;
        }

        .prod-link {
            color: #333;
            text-decoration: none;
        }

        .prod-link:hover, .prod-link:focus {
            color: #FEA116;
        }
    </style>
}
@section Hero {
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Flower Menu</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="breadcrumb-item">
                    @Html.ActionLink("Pages", "Index", "Pages")
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
            </ol>
        </nav>
    </div>
}

@Html.Action("SubMenu", "Pages")

