@using FloralHaven.Models;
@{
    ViewBag.Title = "Menu - Floral Haven";
    List<PRODUCT> prod1 = ViewBag.bestSeller as List<PRODUCT>;
    List<string> img = ViewBag.img as List<string>;

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
        <link href="~/css/products.css" rel="stylesheet" />
        <link href="~/css/breadcrumb.css" rel="stylesheet" />*@
    <style>
        .hero-header {
            margin-bottom: 0 !important;
        }

        a.button-75.btn {
            width: fit-content;
            margin:auto;
        }
    </style>
}
@section Hero {
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Flower Menu</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="breadcrumb-item">
                    @Html.ActionLink("Pages", "Index", "Pages")
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
            </ol>
        </nav>
    </div>
}

@Html.Action("SubMenu", "Pages")

